<!DOCTYPE html>
<html lang="ca">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Projecte Centre{% endblock %}</title>
    <style>
        /* Exemple bàsic d’estil per a la barra superior */
        .navbar {
            background-color: #cce5ff; /* Blau clar */
            padding: 1rem;
        }
        .navbar h1 {
            margin: 0;
        }
    </style>
</head>
<body>
    <header class="navbar">
        <h1>Pàgina Principal del Projecte </h1>
        <nav>
            <ul class="nav-links">
                <li><a href="{% url 'students' %}">Students</a></li>
                <li><a href="{% url 'teachers' %}">Teachers</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>
