{% extends 'centre/base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
  <h2>{{ title }}</h2>
    <a href="{% url 'add_teacher' %}" class="btn">Afegeix Teacher</a>
  <ul>
    {% for teacher in teachers %}
      <li>
        <a href="{% url 'teacher_detail' teacher.id %}">
          {{ teacher.nom }} {{ teacher.cognom1 }} {% if teacher.cognom2 %}{{ teacher.cognom2 }}{% endif %}
        </a>
      </li>
    {% empty %}
      <li>No hi ha professors.</li>
    {% endfor %}
  </ul>
{% endblock %}
